<form class="form-inline">
    <div class="form-group">
        <input type="search" class="form-control" placeholder="Enter search string" [formControl]="searchField">
    </div>
</form>



<div *ngIf="employees | async as Employee">
    <div class="container custom-container-2">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">URL</th>
                        <th scope="col">VALUE</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{Employee.id}}</td>
                        <td>{{Employee.url}}</td>
                        <td>{{Employee.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>