<div class="container custom-container-2">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">URL</th>
                    <th scope="col">VALUE</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{Employee.id}}</td>
                    <td>{{Employee.url}}</td>
                    <td>{{Employee.value}}</td>
                    <td><button (click)="refresh()">Refresh</button></td>
                    <td><button (click)="addEmployee()">Post Profile</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</div>